/* General Styling */

html
{
    overflow-x: hidden;
}

body
{
    overflow-x: hidden;
}

:root
{
    --primary: #02353c;
	--primary-light: #2eaf7d;
	--secondary: #73ff70;
	--gradient: linear-gradient(to right,#2eaf7d, #02353c);
}

.link
{
    font-weight: bold;
}

.link:hover
{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6,
p,
.link
{
   font-size: medium;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-style: oblique;
}

ul
{
   list-style-type: none;
}

#box
{
    box-shadow: 3px 3px 3px 3px #8d8c8c;
}

.slider-control {
    position: absolute;
    cursor: pointer;
    z-index: 2;
}

.next
{
    background-image: url(../pictures/fa-next.png);
    width: 30px;
    height: 30px;
}

.prev
{
    background-image: url(../pictures/fa-prev.png);
    width: 30px;
    height: 30px;
}

.logo
{
    height: 5rem;
    width: 5rem;
}

/* Main */

.main
{
    background-image: url(../pictures/cover2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px)
{
    .main
    {
       background-size: 1200px;
    }    
}

/* Main Menu */

.menu .row .menu-items
{
    position: relative;
}

.menu .row .mobile-menu-items
{
    display: none;
    width: 10rem;
    margin-top: 2rem;
    margin-left: 33rem;
    position: absolute;
    background-color: var(--primary);
    border-radius: 10px;
    z-index: 10;
}

@media screen and (max-width: 768px) 
{
    .menu .row .mobile-menu-items
    {
        margin-left: 37rem;
    }
}

@media screen and (max-width: 425px) 
{
    .menu .row .mobile-menu-items
    {
        margin-left: 17rem;
    }
}

@media screen and (max-width: 375px) 
{
    .menu .row .mobile-menu-items
    {
        margin-left: 14rem;
    }
}

@media screen and (max-width: 320px) 
{
    .menu .row .mobile-menu-items
    {
        margin-left: 10rem;
    }
}

.menu .row .mobile-menu-items .menu-item
{
    position: relative;
    left: 0;
}

.menu .row .mobile-menu-items .menu-item .link
{
    color: #ffff;
}

.menu .row .mobile-menu-items .menu-item .social-link i
{
   color: #ffff;
}

.menu .row .link
{
   color: #ffff;
}

.menu .row .link:hover
{
   text-decoration: underline #ffff ;
}

.menu .row .text-logo
{
    font-weight: bolder;
    font-style: oblique;
    font-size: 25px;
    color: #ffff;
}

@media  screen and (max-width: 768px) 
{
    .menu .row .text-logo
    {
        padding-left: 5%;
    }

    .menu .row .menu-items
    {
        display: none;
    }
}

@media  screen and (max-width: 320px) 
{
    .menu .row .text-logo
    {
        padding-left: 7%;
    }
}

.menu .social-icons
{
    padding-left: 7rem;
}

@media  screen and (max-width: 768px) 
{
    .menu .social-icons
    {
        display: none;
    }

    .menu .social-icons
    {
        padding-left: 0;
        margin: 0;
    }
}

.menu .social-link i
{
   width: 35px;
   height: 35px;
   font-size: 25px;
   color: #ffff;
}

.menu .social-link
{
    width: 35px;
    height: 35px;
    border-radius: 10px;
    text-decoration: none;
}

.menu .social-link i:hover
{
    color: var(--primary-light);
}

.menu .menu-btn
{
    display: none;
    margin-left: 43rem;
    position: absolute;
}

.menu .menu-btn i
{
    font-size: 30px;
    color: #ffff;
}

@media screen and (max-width: 768px)
{
    .menu .menu-btn
    {
        display: block;
        margin-left: 45rem;
    }
}

@media screen and (max-width: 425px) 
{
    .menu .menu-btn
    {
        margin-left: 25rem;
    }
}

@media screen and (max-width: 375px) 
{
    .menu .menu-btn
    {
        margin-left: 22rem;
    }
}

@media screen and (max-width: 320px)
{
    .menu .menu-btn
    {
        display: block;
        margin-left: 18rem;
    }
}

/* Header */

.header
{
  min-height: 30rem;
  width: 100%;
}

.header .cover
{
    height: 20rem;
    width: 50%;
    left: 0;
    margin: 0;
    background-image: url(../pictures/cover1.png);
    background-size: 700px;
}

.header h2, .header h3
{
   font-style: oblique;
   font-size: larger;
   font-weight: bold;
   color: #ffff;
}

.header .intro
{
    width: 100%;
    margin-left: 3%;
}

.header .intro-text
{
    padding-left: 3%;
    animation: slide-in 2s 1;
    position: relative;
}

@media screen and (max-width: 768px) 
{
    .header .intro-text
    {
       padding-right: 15%;
       padding-left: 15%;
    }
}

@media screen and (max-width: 768px)
{
    .header .intro .row
    {
        padding-left: 15%;
        padding-right: 15%;
    }
} 

.header .intro .stat h4, .header .intro .stat p
{
   color: #ffff;
   font-weight: bold;
}

.header .next
{
    left: 93%;
}

@media screen and (min-width: 2560px) 
{
    .header .next
    {
        left: 92%;
    }
}

@media screen and (max-width: 768px) 
{
    .header .next
    {
        left: 90%;
    }
}

@media screen and (max-width: 320px) 
{
    .header .next
    {
        left: 88%;
    }
}

@media screen and (max-width: 425px) 
{
    .header .prev
    {
        left: -2%;
    }
}

/* About Us */

.about-us .row
{
  padding-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about-us .row .image
{
    width: 30rem;
    height: 20rem;
    position: relative;
}

.about-us h1
{
    color: var(--primary);
    font-weight: bold;
    font-size: 20px;
    position: relative;
}

.about-us .row p
{
    color: var(--primary);
    font-weight: 500;
}

.about-us .tabs .tab-btn
{
    background-color: #ffff;
    color: var(--primary);
    border-width: 0;
    border-radius: 0;
    width: 10%;
}

.about-us .tabs .tab-btn:focus
{
    background-color:  #ffff;
    outline: none;
    color: var(--primary);
    border-bottom: 2px var(--primary);
    border-style: solid;
}

.about-us .about-content
{
    display: flex;
    align-items: center;
}

.about-us .about-content div
{
    position: relative;
}

.about-us .about-content .content:nth-child(1)
{
    animation: slide-in 2s 1;
}

.about-us .about-content .content:nth-child(2)
{
    animation: slide-out 2s 1;
}

/* @media screen and (max-width: 2560px) 
{
    .about-us .row #profile-text
    {
        margin-left: 5%;
    }
} */

.about-us .about-content .services .row
{
    width: 15rem;
    height: 10rem;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: #ffff;
    padding: 0;
    align-items: center;
    position: relative;
}

.about-us .about-content .services .row:hover
{
    border-color: var(--primary);
}

.about-us .about-content .services .row .description
{
    display: none;
    border-radius: 3px;
    top: 3rem;
    left: 6rem;
    z-index: 10;
    min-width: 15rem;
    min-height: 6rem;
    background-color: var(--primary);
    position: absolute;
}

.about-us .about-content .services .row h2
{
    font-weight: bold;
    color: var(--primary);
}

.about-us .about-content .services .row .service-image
{
    height: 5rem;
    width: 5rem;
    top: 10px;
}

.about-us .about-content .why-us .why-us-image
{
    width: 20rem;
    height: 15rem;
    animation: slide-out 2s 1;
    position: relative;
}

.about-us .about-content .why-us .why-us-content
{
    animation: slide-in 2s 1;
    position: relative;
}

.about-us .about-content .why-us h2
{
  font-weight: bold;
  color: var(--primary);
}

/* KeyFrames */

@keyframes slide-in {

    from
    {
        left: -40rem;
    }

    to
    {
        left: 0rem;
    }   
}

@keyframes slide-out {

    from
    {
        right: -40rem;
    }

    to
    {
        right: 0rem;
    }   
}

@keyframes slide-up 
{
    from
    {
        bottom: -10rem;
    }

    to
    {
        bottom: 0;
    }
}

@keyframes slide-down 
{
    from
    {
        top: -10rem;
    }

    to
    {
        top: auto;
    }
}

@keyframes fade-in 
{
    from
    {
        opacity: 0;
    }

    to
    {
        visibility: visible;
    }
}

@keyframes fade-out
{
    from
    {
        visibility: visible;
    }

    to
    {
        opacity: 0;
    }
}

@keyframes typing 
{
    0%
    {
        width: 0;
    }

    100%
    {
        width: 100%;
    }
}
